commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_cache_config_routes.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      /var/app/current/artisan config:cache
      /var/app/current/artisan route:cache
      chown -R webapp:webapp /var/app/current/bootstrap/cache/*.php